.site-topbar {
    background-color: #333;
    height: 40px;
}

.site-topbar a {
    line-height: 40px;
    color: #b0b0b0;
}

.topbar-nav span {
    margin: 0 .3em;
    color: #424242;
}

.site-shop {
    position: relative;
    height: 40px;
    width: 120px;
    margin-left: 15px;
    font-size: 12px;
}

.site-shop:hover > .j-menu {
    height: 99px;
    transition: height .3s;
}

.site-shop:hover>.cart,
.site-shop:hover>.cart em,
.site-shop:hover>.cart span {
    color: #ff6700;
}

.site-topbar a:hover {
    color: #fff;
}

.topbar-info span {
    color: #424242;
}

.site-shop .cart {
    height: 40px;
    line-height: 40px;
    background-color: #424242;
    color: #b0b0b0;
    display: block;
    text-align: center;
    position: relative;
}


.site-shop em {
    font-size: 20px;
    /* line-height: 20px; */
    margin-right: 4px;
    vertical-align: -4px;
}

.J-sp {
    padding: 0 5px;
}

.j-menu {
    height: 0px;
    line-height: 99px;
    text-align: center;
    width: 316px;
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 40px;
    right: 0px;
    overflow: hidden;
}

/* .topbar-download {
    position: relative;
    /* overflow: hidden; */
} */

.appcode {
    position: absolute;
    top: 40px;
    left: 0;
}
