.site-topbar {
    background-color: #333;
    height: 40px;
}

.site-topbar a {
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
    display: inline-block;
}

.topbar-nav span {
    margin: 0 .3em;
    color: #424242;
}

.site-shop {
    position: relative;
    height: 40px;
    width: 120px;
    margin-left: 15px;
    font-size: 12px;
}

.site-shop:hover>.j-menu {
    height: 99px;
    transition: height .3s;
}

.site-shop:hover>.cart,
.site-shop:hover>.cart em,
.site-shop:hover>.cart span {
    color: #ff6700;
}

.site-topbar a:hover {
    color: #fff;
}

.topbar-info span {
    color: #424242;
}

.site-shop .cart {
    height: 40px;
    line-height: 40px;
    background-color: #424242;
    color: #b0b0b0;
    display: block;
    text-align: center;
    position: relative;
}


.site-shop em {
    font-size: 20px;
    /* line-height: 20px; */
    margin-right: 4px;
    vertical-align: -4px;
}

.J-sp {
    padding: 0 5px;
}

.j-menu {
    height: 0px;
    line-height: 99px;
    text-align: center;
    width: 316px;
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 40px;
    right: 0px;
    overflow: hidden;
}

.topbar-download {
    position: relative;
}

.appcode {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 5px #aaa;
    width: 124px;
    height: 0px;
    text-align: center;
    border-top: none;
    overflow: hidden;
    transition: height .3s;
}

.topbar-download:hover .appcode {
    height: 148px;
}

.topbar-download:hover::before {
    display: block;
}


.appcode img {
    display: block;
    margin: 18px auto 0px;
}

.topbar-download::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 0;
    /* margin-left: -8px; */
    border-width: 0px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
    display: none;
}


.site-header {
    position: relative;
    height: 100px;
    margin: 0 auto;
    align-items: center;
}

.head-logo {
    display: block;
    height: 55px;
    width: 55px;
    background-color: #ff6700;
    position: relative;
    margin-top: 20px;
}

.head-logo:hover .logo::before {
    left: 55px;
}

.head-logo:hover .logo::after {
    left: 0;
}

.head-logo .text {
    display: block;
    text-align: left;
    text-indent: -9999em;
}

.logo::before {
    position: absolute;
    width: 55px;
    height: 55px;
    content: "";
    display: block;
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    transition: all .2s;
}

.logo::after {
    position: absolute;
    top: 0;
    left: -55px;
    width: 55px;
    height: 55px;
    content: "";
    background: url(../images/mi-home.png) no-repeat 50% 50%;
    transition: all .2s;
}

.header-nav {
    width: 850px;
}

.nav-list {
    height: 100px;
    line-height: 100px;
    margin-left: 190px;
    font-size: 16px;
    position: relative;
}

.nav-list span {
    color: #333;

}

.nav-list li {
    float: left;
    margin-right: 20px;
}

.header-search {
    width: 296px;
    margin-top: 25px;
}

.search-text {
    height: 48px;
    width: 223px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    float: left;
}

.search-btn {
    height: 48px;
    width: 48px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    float: left;
    color: #616161;
    font-size: 20px !important;
    z-index: 2;
}

.search-btn:hover {
    background-color: #ff6700;
}

.header-nav-menu {
    position: absolute;
    overflow: hidden;
    top: 100px;
    left: 0;
    /* height: 230px; */
    height: 0;
    width: 100%;
    z-index: 24;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);

}

.header-nav-menu .container {
    height: 229px;
}

.menu-nav {
    padding: 35px 12px 0;
    position: relative;
}

.menu-nav em {
    height: 90px;
    width: 1px;
    border-right: 1px solid #e0e0e0;
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
}

.menu-nav figure {
    height: none;
}

.header-nav .figure {
    margin: 0 auto 16px;
    height: 110px;
}

.header-nav-menu .title {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #333;
    font-size: 12px;
}

.header-nav-menu p {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ff6700;
    font-size: 12px;
}

.text:hover {
    color: #ff6700;
}

.nav-list li:first-child:hover>.header-nav-menu {
    height: 230px;
    border-top: 1px solid #e0e0e0;
    transition: height .3s;
}

.site-category {
    position: absolute;
    top: 88px;
    left: -245px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
}

.cat-ul {
    height: 420px;
    padding: 20px 0;
    color: #fff;
    background-color: rgba(105, 101, 101, .6);
}

.cat-ul a {
    color: #fff;
}


.category-list {
    width: 204px;
    height: 42px;
    padding-left: 30px;
    position: relative;
}

.category-list:hover {
    background-color: #ff6700;
}

.category-list .cat-icon {
    position: absolute;
    right: 17px;
    top: 0;
}

.cat-title {
    width: 264px;
    /* position: relative; */
    display: block;
    height: 42px;
    line-height: 42px;
    /* color: #fff; */
}

.commodity {
    width: 992px;
    height: 458px;
    position: absolute;
    
}